mat-form-field {
    margin-top: 1rem;
    width: 100%;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important;
}

::ng-deep .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
    border: 1px solid gray;
}

hr {
    display: flex;
    margin-left: 0px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
}

.FormTitle {
    display: flex;
    align-items: center;
    background: rgb(73, 157, 57);
    width: 100%;
    max-width: 533px;
    height: 50px;
    border:2px solid gray;
    padding-left: 16px;
}

.FormTitle p {
    color: white;
}

.FormContainer {
    border: 2px solid grey;
    max-width: 500px;
    width: 100%;
    padding: 0 2%;
    padding-bottom: 16px;
    margin-bottom: 8rem;
}

.EmployeeShipper {
    display: flex;
    gap: 16px;
    align-items: center;
    max-width: 500px;
}

.ShipName {
    display: flex;
    max-width: 500px;
}

.ShipAddressCityCountry{
    display: flex;
    gap:16px;
    align-items: center;
    max-width: 500px;
}

.DateOrderRequiredShipped{
    display: flex;
    gap: 16px;
    max-width: 500px;
    align-items: center;
}

.Freight {
    display: flex;
    max-width: 500px;
}

.Product {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.UnitPriceQuantityDiscount {
    display: flex;
    width: 100%;
    max-width: 500px;
    align-items: center;
    gap: 16px;
}

.FormButtons {
    display: flex;
    justify-content: end;
    gap: 16px;
    max-width: 500px;
    margin-top: 2rem;
}